body {
    overflow-x: hidden;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 40px;
}



ul.top-header {
    width: 330px;
    list-style: none;
    float: right;
    margin-right: 100px;
}

ul.top-header li {
    float: left;
    margin-left: 25px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #363958;

}

section {
    display: inline-block;
    margin: 5%;
    padding: 2%;
}

.half-width {
    width: 40%;
    float: left;
}

.half-width h1 {
    font-size: 50px;
    color: #363958;
    font-weight: 700;

}

.salmon {
    color: salmon;
}

#padding-img {
    width: 100%;
    padding-left: 200px;
}

a#button-color {
    text-decoration: none;
    background-image: linear-gradient(45deg, #fc7662, #f56160);
    padding: 15px 35px;
    color: white;
    border-radius: 5px;
}

#padding-right {
    width: 100%;

}

.left {
    padding-left: 200px;
}

section.privet {

    margin: 0px;
    background-color: #f8f9fc;
    width: 100%;
    padding: 50px;
}

section.privet h1 {
    text-align: center;
    margin-bottom: 60px;
}

.tour-photo {
    width: 350px;
    float: left;
    height: 370px;
    margin-left: 55px;
    box-shadow: 0px 8px 7px -3px grey;
    border-radius: 10px;
    margin-bottom: 60px;
}

.tour-photo img {
    width: 100%;
}

div#full-stack {
    padding: 18px;
}

.sommosa {
    padding: 100px;
    height: 30vh;
    margin: 0 auto;
    display: block;
}

.main-imgges {
    background: url(shapes/Group_33094_1.png);
    background-size: cover;
    width: 80%;
    background-repeat: no-repeat;
    padding: 70px;
    margin: 0 auto;
    border-radius: 30px;
}

.main-imgges span {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

}

.main-imgges a {
    float: right;
    overflow: hidden;
    padding: 15px 30px;
    text-decoration: none;
    background-color: salmon;
    color: white;
    border-radius: 8px;
}



#footer-text {
    text-align: center;
}

footer h3 {
    color: #c1c0c4;
}

footer h2,
h3 {
    text-align: center;
}

div#footer-text img {
    width: 50px;
    margin-left: 13px;
}

footer a {
    text-decoration: none;
    color: #363958;


}